$primary-color-1: #222831;
$primary-color-2: #393e46;
$primary-color-3: #00adb5;
$primary-color-4: #00fff5;

.cart-main {
  margin: 4rem 6rem;
}
.cart-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;

  .item-seg {
    width: 25%;
  }
}
.cart {
  display: flex;
  gap: 1rem !important;
}
.cart-right {
  width: 30%;
  background-color: rgb(252, 252, 252);
  padding: 1rem;
  border-radius: 10px;
  height: 500px;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  input {
    width: 100%;
  }
}
